footer {
    background-color: var(--orange);
    width: 100%;
    max-width: 100vw;
    max-height: 58px;
    height: 58px;
    display: flex;
    align-self: flex-end;
    position: sticky;
    -webkit-sticky: sticky;
    bottom: 0vh;
    padding: 0 3vw;
    z-index: 8000;
}

.footerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerCopyrights p {
    color: white;
}

.footerSocialMedia {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footerSocialMedia svg {
    color: white;
    height: 22px;
    width: 24px;
    cursor: pointer;
}

.footerSocialMedia svg:hover {
    filter: brightness(0.8);
}


/* ---------media--------------------------- */

@media(max-width:414px) {
    .footerSocialMedia {
        display: none;
    }
}