.amenityContainer {
    display: flex;
    gap: 0.8rem;
}

.iconContainer {
    height: auto;
    width: 20px;
}

.icon {
    height: auto;
    width: auto;
}

@media screen and (max-width: 554px) {
    .nombreContainer {
        width: 25vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
        line-clamp: 1;
    }
}
