body {
    margin: 0;
}

.mobileMenu {
    position: absolute;
    width: 70%;
    height: 100vh;
    /* height: calc(100vh - 58px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99999;
    background-color: white;
    right: 0%;
}

.mobileMenu .menuUp {
    display: flex;
    flex-direction: column;
}

.mobileMenu .upper {
    height: 11rem;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.mobileMenu .upper h1 {
    display: flex;
    align-items: flex-end;
}

.mobileMenu .middle {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
}

.mobileMenu .middle p {
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 0;
}

.mobileMenu .middle hr {
    width: 100%;
}

.mobileMenu .middle:hover {
    filter: brightness(0.8);
}

.mobileMenu .footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    color: var(--darkGrey);
    background-color: white;
    position: sticky;
    /* -webkit-sticky: sticky; */
    z-index: 100000 !important;
}

.mobileMenu .footer svg {
    font-size: 1.3rem;
}

.mobileMenu .footer svg:hover {
    filter: brightness(0.8);
}

@media (min-width: 600px) {
    .mobileMenu {
        display: none;
    }
}