.carousel .carousel-status {
    position: absolute;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    color: #fff;
    top: 90%; 
    right: 2%;
}

@media screen and (max-width: 650px) {
    .carousel .carousel-status {
        top: 87%; 
    }
}

@media screen and (max-width: 450px) {
    .carousel .carousel-status {
        top: 83%; 
    }
}




